__pycache__
.DS_store
temp_sounds/*.wav
guitarsounds_repo
Example_sounds
report*.docx
scratch.ipynb
.ipynb_checkpoints
test*.png
figure_cache/*.png
temp.wav
.gitkeep
recording.ogg
testing_sounds
dev_archive
scratch.ipynb
*~
**~
**/*~
.*
!/.gitignore
