__pycache__
.DS_store
temp_sounds/*.wav
guitarsounds_repo
report*.docx
scratch.ipynb
.ipynb_checkpoints
test*.png
figure_cache/*.png
guitpsyexp/sample_sounds2
guitpsyexp/sample_sounds
guitpsyexp/script.js
claude
legacy_app
temp.wav
.gitkeep
recording.ogg
testing_sounds
dev_archive
scratch.ipynb
*~
**~
**/*~
!/.gitignore
*.ipynb
notes
